@model IEnumerable<assignment4.Models.PromotionRequest>

@{
    ViewData["Title"] = "StudentView";
}


@if(Model.Any() == false)
{
   <h1>Get Promoted to Teacher</h1>
   <p>Teachers can create and edit flashcards and flashcard sets.</p>
   <p><a asp-action="Create" class="btn btn-outline-dark">Submit a request to be promoted to teacher</a></p>  
}


@if (Model.Any())
{
    <h1>Your Promotion Requests</h1>
    <p><a asp-action="Create" class="btn btn-outline-dark">Submit another request to be promoted to teacher</a></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Requested Date
                </th>
                <th>
                    Submission Text
                </th>
                <th>
                    Accepted?
                </th>
                <th>
                    Decision Date
                </th>
                <th>
                    Decision by
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-url="@Url.Action("Details", new { id = item.PromotionRequestId })">
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WasPromotionGranted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrantedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrantedByName)
                    </td>
                    <td>
                        <div>
                            <a asp-action="Details" asp-route-id="@item.PromotionRequestId" class="btn-sm btn-dark">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<style>
    .clickable-row:hover {
        cursor: pointer;
        background-image: linear-gradient(113.9deg, rgb(255, 128, 0) -4.5%, rgb(255, 215, 0) 98.8%);
    }

    .btn-sm {
        text-decoration: none;
        min-width: 69px;
        display: inline-block;
        text-align: center;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const rows = document.querySelectorAll('.clickable-row');
        rows.forEach(row => {
            row.addEventListener('click', function (e) {
                // Prevent click event for actions within the row
                if (e.target.tagName === 'A') {
                    return;
                }
                const url = this.dataset.url;
                if (url) {
                    window.location.href = url;
                }
            });
        });
    });
</script>